<!doctype html>
<html lang="en">
<head>
  <title>{{ blog_name }}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="style/main.css">
</head>
<body>
    <header>
      <nav>
        <a href="./index.html">
        🐧 /home/{{author}}
        </a>
        <span> $ </span>
        <a href="./index.html">
        whoami
        </a>
        <span> $ </span>
        <a href="./index.html">
        uname
        </a>
      </nav>
    </header>
    <div>
        <blockquote> <i>knowledge without action is empty </i> - frank herbert </blockquote>
        <p> {{ welcome_message }}</p>
        <hr>

        {% for article in articles %}
        <a class="post" href='./posts/{{ article.filename }}.html'> <b>#</b> {{ article.title }}</a>
        <a class="full_story" href='./posts/{{ article.filename }}.html'> (full story) </a>
        <br>
        <font size="-1">
            [ {{article.topic}} ] Posted {{article.date}}
        </font>
        {% endfor %}
    </div>
</body>
</html>
