html {
    margin: 0;
    padding: 0;
    background-color: var(--main-bg);
}

body {
    font-family: monospace, monospace;
    min-height: 100vh;
    margin: 0 auto;
    max-width: 85%;
    background-color: var(--posts_bk_color);
}

header {
    background-color: var(--header-bg);
    font-size: smaller;
    border-bottom: 5px solid var(--header-border);
}
nav {
    color: white;
    padding: 5px 0 5px 20px;
}
a {
    color: white;
    text-decoration: none;
}
span {
    color: 5px solid var(--header-border);
}

div {
    color: black;
    margin: 0 20px;
}

p {
    overflow-wrap: break-word;
}

.post {
    color: black;
}
.full_story {
    color: blue;
    font-size: smaller;
}

@media only screen and (max-width: 480px){
    .full_story {
        white-space: pre;
    }
}
