<!doctype html>
<html lang="en">
<head>
  <title>bsantanad.com</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <style>
    :root {
        --main-bg: {{ main_color }};
        --header-bg: {{ header_color }};
        --header-border: {{  header_border_color }};
        --posts_bk_color: {{  posts_bk_color }};
    }
  </style>
  <link rel="stylesheet" type="text/css" href="../style/main.css">
</head>
<body>
    <header>
      <nav>
        <a href="../index.html">
        🐧 /home/bsantanad
        </a>
        <span> $ </span>
        <a href="../index.html">
        whoami
        </a>
        <span> $ </span>
        <a href="../index.html">
        uname
        </a>
      </nav>
    </header>
    <div>
    {{ html }}
    </div>
</body>
</html>
